@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Sugar Whip is the result of a local dream. Four college men came together with a passion for business and for candy, but by chance, the one candy 
    that each of them loved more than any other... was taffy! Thus, their desire to bring their love for the chewy treat to the whole community
    was lit, and after years of hard work, Sugar Whip was born. Here you can find an unparalleled assortment of taffy flavors for you to enjoy and have 
    shipped anywhere across the globe. You can even stay on top of our business's growth as a member, as well as enlighten us with suggestions for new
    flavors. So come on down as we whip us some fun!</p>

