
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>
<p>Here are some of the flavors we will be offering</p>

<h3>Sweet Taffies</h3>
<p>
    <table>
        <tr>
            <th>Carmel</th>
            <th>Raspberry Lemonade</th>
            <th>Red Velvet Cake</th>
        </tr>
        <tr>
            <img src="~/Images/Carmel.png" width="200" height="200"/>
            <img src="~/Images/RaspberryLemonade.png" width="200" height="200" />
            <img src="~/Images/RedVelvetCake.png" width="200" height="200"/>
        </tr>
        <tr>
            <li>Eggnog</li>
            <li>Cherry</li>
            <li>Orange</li>
        </tr>
        <tr>
            <img src="~/Images/Eggnog.png" />
            <img src="~/Images/Cherry.png" />
            <img src="~/Images/Orange.png" />
        </tr>
        
        <br />

        
        
        <br />

        
        
        <br />

        
        
        <br />

        
        
        <br />

        
        
        <br />

        <img src="~/Images/OrangeCream.png" />
        <li>Orange Cream</li>
        <br />

        <img src="~/Images/PeachesAndCream.png" />
        <li>Peaches and Cream</li>
        <br />

    </table>
</pclass="inventory">

<h3>Savory Taffies</h3>
<p>
    <table>
        <img src="~/Images/Pickle.png" class="inventory"/>
        <li>Pickle</li>
        <br />

        <img src="~/Images/PeanutButter.png" class="inventory"/>
        <li>Peanut Butter</li>
        <br />

        <img src="~/Images/MapleBacon.png" class="inventory"/>
        <li>Maple Bacon</li>
        <br />

        <img src="~/Images/BBQ.png" class="inventory"/>
        <li>Hickory Barbeque</li>
        <br />

        <img src="~/Images/PotatoChip.png" />
        <li>Potato Chip</li>
        <br />

    </table>
</p>

