
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>
<p>Here are some of the flavors we will be offering</p>

<h3>Sweet Taffies</h3>

    <table cellpadding="10">
        <tr>
            <th>Carmel</th>
            <th>Raspberry Lemonade</th>
            <th>Red Velvet Cake</th>
            <th>Eggnog</th>
        </tr>
        <tr>
            <td><img src="~/Images/Carmel.png" width="200" height="200" /></td>
            <td><img src="~/Images/RaspberryLemonade.png" width="200" height="200" /></td>
            <td><img src="~/Images/RedVelvetCake.png" width="200" height="200" /></td>
            <td><img src="~/Images/Eggnog.png" width="200" height="200"/></td>
        </tr>
        <tr>
            <th>Cherry</th>
            <th>Orange</th>
            <th>Orange Cream</th>
            <th>Peaches and Cream</th>
        </tr>
        <tr>
            <td><img src="~/Images/Cherry.png" width="200" height="200"/></td>
            <td><img src="~/Images/Orange.png" width="200" height="200"/></td>
            <td><img src="~/Images/OrangeCream.png" width="200" height="200"/></td>
            <td><img src="~/Images/PeachesAndCream.png" width="200" height="200"/></td>
        </tr>
      

    </table>


<h3>Savory Taffies</h3>

    <table cellpadding="10">
        <tr>
            <th>Pickle</th>
            <th>Peanut Butter</th>
            <th>Maple Bacon</th>
            <th>Hickory Barbeque</th>
        </tr>
        <tr>
            <td><img src="~/Images/Pickle.png" width="200" height="200" /></td>
            <td> <img src="~/Images/PeanutButter.png" width="200" height="200" /></td>
            <td><img src="~/Images/MapleBacon.png" width="200" height="200" /></td>
            <td><img src="~/Images/BBQ.png" width="200" height="200" /></td>
        </tr>
        <tr>
            <th>Potato Chip</th>
        </tr>
        <tr>
            <td><img src="~/Images/PotatoChip.png" width="200" height="200" /></td>
        </tr>
        
    </table>


