
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>
<p>Here are some of the flavors we will be offering</p>

<h3>Sweet Taffies</h3>
<p>
    <ul>
        <li>Carmel</li>
        <li>Raspberry Lemonade</li>
        <li>Red Velvet Cake</li>
        <li>Eggnog</li>
        <li>Cherry</li>
        <li>Orange</li>
        <li>Orange Cream</li>
        <li>Peaches and Cream</li>

    </ul>
</p>

<h3>Savory Taffies</h3>
<p>
    <ul>
        <li>Pickle</li>
        <li>Peanut Butter</li>
        <li>Maple Bacon</li>
        <li>Hickory Barbegue</li>
        <li>Potato Chip</li>
    </ul>
</p>

