@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
	
	<h1>Sugar Whip.</h1>
	<p class="lead">Sugar Whip is a website for all your taffy needs.</p>
	<p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more About Us &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Check Out Our Flavors.</h2>
		<p>
			We have many flavors to choose from.
		</p>
		<p><a class="btn btn-default" href="@Url.Action("Catalog", "Home")">Catalog &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Have a Suggestion?</h2>
		<p>We'd love to hear from you.</p>
		<p><a class="btn btn-default" href="@Url.Action("Suggestion", "Home")">Suggestions &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get ahold of Us.</h2>
		<p>Have a question or comment? Let us know.</p>
		<p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Contact &raquo;</a></p>
	</div>
</div>